@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins";
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoContainer {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.logo {
  height: 20vh;
  width: 50vw;
  background: url(images/logo.svg) no-repeat center;
}


.heading h1 {
    font-size: 50px;
    font-family: "raleway" ;
    padding: 10px;
    /* background: linear-gradient(to top, #fe5196, #4313c9); */
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

/* .content {
    justify-content: center;
    align-items: center;
} */

.text1 {
    text-align: center;
    font-size: 40px;
}

.text2 {
    text-align: center;
    font-size: 30px;
}

.socialSection {
    display: flex;
    justify-content: center;
    width: 12vw;
    min-width: 100%;
    padding: 20px;
    font-size: 3em;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.socialSection div {
    margin: 0 4px;
    padding: 40px;
}

.socialSection a {
    color: #106db9;
    transition: color 0.5s ease-out;
}

.socialSection a:hover {
    color: #05355c;
    transform: translateY(2px);
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }